{% if page.title == "Blog"
   or page.title == "Tags"
%}{% assign showHeader = true %}{% endif %}

{% if showHeader == true %}
    <header class="header-home {% if site.animation %}animated{% endif %}">
        {% if site.about %}
            <a class="link" href="{{ site.url }}/about">
                <img class="selfie" alt="{{ site.name }}" src="{% if site.external-image %}{{ site.picture }}{% else %}{{ site.url }}/{{ site.picture }}{% endif %}" />
            </a>
        {% else %}
            <span class="link">
                <img class="selfie" alt="{{ site.name }}" src="{% if site.external-image %}{{ site.picture }}{% else %}{{ site.url }}/{{ site.picture }}{% endif %}" />
            </span>
        {% endif %}

        <h1 class="title">{{ site.name }}</h1>
        <h2 class="description">Stuff I've learned, stuff I'm learning, stuff I'm sharing.</h2>

        {% include social-links.html %}
    </header>
    {% include nav.html %}
{% endif %}


{% if page.title == "Home"
%}{% assign showHeaderHome = true %}{% endif %}
{% include nav.html %}
{% if showHeaderHome == true %}
    <header class="header-home {% if site.animation %}animated{% endif %}">
      <span class="link">
          <img class="selfie" alt="{{ site.name }}" src="{% if site.external-image %}{{ site.picture }}{% else %}{{ site.url }}/{{ site.picture }}{% endif %}" />
      </span>
      <h1 class="title">{{ site.name }}</h1>

<div class="deschome">
  <div style="text-align: left;">
      {% include homedesc.html %}
  </div>
</div>
      {% include social-links.html %}
{% endif %}

{% if page.title == "Projects" %}
  <header class="header-home {% if site.animation %}animated{% endif %}">
    <h1 class="title">Past Work & Projects</h1>
    <h2 class="description">Click on any project to view a detailed writeup about it.</h2>
  </header>
  <header class="header-home">  {% include social-links.html %} </header>
{% endif %}

{% if page.title == "Contact" %}
<header class="header-home {% if site.animation %}animated{% endif %}">
  <span class="link">
      <img class="selfie" alt="{{ site.name }}" src="{% if site.external-image %}{{ site.picture }}{% else %}{{ site.url }}/{{ site.picture }}{% endif %}" />
  </span>
    <h1 class="title">Get in Touch</h1>
    <h2 class="description">Think we are a good match? Just want to know more? Send me an email, I look forward to getting in touch.</h2>
  <header class="header-home">  {% include social-links.html %} </header>
{% endif %}
