{% if page.title == "Blog"
   or page.title == "Tags"
%}{% assign showHeader = true %}{% endif %}

{% if showHeader == true %}

<header class="header-home {% if site.animation %}animated{% endif %}">
        {% if site.about %}


    <a class="link" href="{{ site.url }}/about">
      <img class="selfie" alt="{{ site.name }}" src="{% if site.external-image %}{{ site.picture }}{% else %}{{ site.url }}/{{ site.picture }}{% endif %}" />
    </a>
        {% else %}

    <span class="link">
      <img class="selfie" alt="{{ site.name }}" src="{% if site.external-image %}{{ site.picture }}{% else %}{{ site.url }}/{{ site.picture }}{% endif %}" />
    </span>
        {% endif %}


    <h1 class="title">{{ site.name }}</h1>

      <div style="color: #e71d36" {% include social-links.html %}

      </header>
    {% include nav.html %}
{% endif %}


{% if page.title == "Home"
%}{% assign showHeaderHome = true %}{% endif %}
{% include nav.html %}
{% if showHeaderHome == true %}

      <header class="header-home {% if site.animation %}animated{% endif %}">
        <a class="link" href="{{ site.url }}/">
          <img class="selfie" alt="{{ site.name }}" src="{% if site.external-image %}{{ site.picture }}{% else %}{{ site.url }}/{{ site.picture }}{% endif %}"/>
        </a>
        <h1 class="title2">{{ site.name }}</h1>
        <h2>Direct Response Copywriting & Advertising Specialist Based in the Niagara Region {% include social-links.html %} </h2>

        <div class="wrapper-normal">
          <div class="deschome">
            <div style="text-align: left;">
      {% include homedesc.html %}
  </div>
          </div>
        </div>
{% endif %}

{% if page.title == "Projects" %}

          <header class="header-home {% if site.animation %}animated{% endif %}">
            <h1 class="title">Past Work & Projects</h1>
            <h2>
              <i>
                <figcaption class="caption">* indicates spec work</figcaption>
              </i>
            </h2>
          </header>
          <header class="header-home">  {% include social-links.html %} </header>
{% endif %}


{% if page.title == "Contact" %}

            <header class="header-home {% if site.animation %}animated{% endif %}">
              <a class="link" href="{{ site.url }}/">
                <img class="selfie" alt="{{ site.name }}" src="{% if site.external-image %}{{ site.picture }}{% else %}{{ site.url }}/{{ site.picture }}{% endif %}" />
              </a>
              <h1>Contact Me</h1>
              <h3>I look forward to hearing from you. Please fill out the short form below or email me at {% include emailscript.html %}</h3>
              <header class="header-home">  {% include social-links.html %} </header>
{% endif %}

{% if page.title == "Services" %}

              <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
                <header class="header-home {% if site.animation %}animated{% endif %}">
                  <h1 class="title">Services</h1>
                </header>
                <header class="header-home"></header>
{% endif %}
