
<p>Hey there,</p>
<p>My name is Nick. I'm a direct response copywriter. I help companies generate more revenue through their marketing efforts. </p>
<p>You need quality copy that will drive prospects to convert. Get the copy right, and you'll watch the money roll in.</p>
<p>But, if you get any aspect of the copy wrong, you'll be wasting money on ineffective marketing. Frustrating and tedious.</p>
<p>I'm here to give you exactly what you need. No fluff, no nonsense, just results. <br /><br />You can read more about my services in my <a href="{{ site.url }}/about">About</a> section.</p>
