
<p>Hey there,</p>
<p>My name is Nick. I'm a direct response copywriter. I help companies generate more revenue through their marketing efforts. </p>
<p>You need quality copy that will drive prospects to convert. Get the copy right, and you'll watch the money roll in.</p>
<p>But, if you get any aspect of the copy wrong, you'll be wasting money on ineffective marketing. Frustrating, tedious, and COSTLY!.</p>
<p>I'm here to give you exactly what you need. No fluff, no nonsense, just results. Whether you need <span class="evidence"><strong>Facebook Ads</strong></span>, <span class="evidence"><strong>Landing Pages</strong></span>, <span class="evidence"><strong>Sales Letters</strong></span>, <span class="evidence"><strong>etc</strong></span>. I can help you get the results you deserve.

<br /><br />You can read more about my services in my <span class="evidence"><a href="{{ site.url }}/about">About</a></span> section. To see examples of my past work, you will find them in my <span class="evidence"><a href="{{ site.url }}/projects">Projects</a></span> page.</p>
