<p>
  Hello, my name's Nick. I'm a direct response copywriter. More on that in a moment.
  <p>But first...
  <p>I’m going to ask you one simple question.
  <p style="border:2px; border-style:solid; border-color:black; padding: 2px; font-weight: 600; width: auto; color: black; background: #eeeeee; display: block; text-align: center;">Do you want your business to make more money?
<p>I think I know the answer… I’ve got some good news for you.
  <p>What if I told you it’s possible to turn $1 into $2, $5, $10, <span class="bigbold">or more?</span>
  <p>Would you believe me if I told you your competition is already doing it?
  <p>Unless you start doing it too, it's only a matter of time before you are left in the dust.
  <p><span class="bigbold">My words make people open their wallets and throw money at whoever I write for.</span>
  <!–– But they aren’t just regular sentences… The words say one thing, but they communicate something completely different. -->
  <p>They methodically guide the reader to do exactly what you want.
  <!–– I have been extremely fortunate to be trained by the people who dialed in on the best strategies for exactly this. Combined, they have hundreds of years of experience.––>
  <p>if you are someone who wants to generate better response and better revenue, <a href="{{ site.url }}/contact">Contact me and make it happen.</a>
</p>
